{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block body %}

	<div id="wrapper">
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">
				{% if selectedDossier == 0 %}
					{% include 'home/serviceModal.html.twig' %}
				{% endif %}
				
				<div id="selectDossier">
					<div class="modal" id="serviceModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="border-radius: 30px;" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header position-relative text-center">
									<img src="{{ asset('img/iconService.png') }}" class="modal-img" alt="Header Image">
									<h5 class="modal-title mx-auto" id="exampleModalLabel">Choisir un service</h5>
									<button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<select class="form-select w-100 custom-select" id="serviceSelect">
										<option selected value=''>choix du service</option>
										{% for dossier in user_dossier %}
											<option value="{{dossier.dossierID}}">{{dossier.dossierName}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div>
						<div class="row card-body">
							<div class="container">
								<div class="row justify-content-center">
									<a class="col-md-4 homeCard" href="{{ path('app_consommation_patient') }}">
										<div class="card"><img class="card-img-top" src="{{ asset('img/consomaPatient.png') }}" height="130px" alt="Image 1">
											<div class="card-body text-center">
												<h5 class="card-title">Consommation Patient</h5>
											</div>
											<div class="overlay"></div>
										</div>
									</a>
									<a class="col-md-4 homeCard" href="{{ path('app_suivi_commande') }}">
										<div class="card"><img class="card-img-top" src="{{ asset('img/suiviCommande.png') }}" height="130px" alt="Image 2">
											<div class="card-body text-center">
												<h5 class="card-title">Suivi Commande</h5>
											</div>
											<div class="overlay"></div>
										</div>
									</a>
								</div>
								<div class="row justify-content-center mt-4">
									<a class="col-md-4 homeCard" href="{{ path('app_stock') }}">
										<div class="card"><img class="card-img-top" src="{{ asset('img/suiviStock.png') }}" height="130px" alt="Image 3">
											<div class="card-body text-center">
												<h5 class="card-title">Suivi de Stock</h5>
											</div>
											<div class="overlay"></div>
										</div>
									</a>
									<a class="col-md-4 homeCard">
										<div class="card">
											<img class="card-img-top" src="{{ asset('img/gro.png') }}" height="130px" alt="Image 4">
											<div class="card-body text-center">
												<h5 class="card-title">     </h5>
											</div>
											<div class="overlay"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{encore_entry_script_tags('home')}}
{% endblock %}