{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block body %}

	<div id="wrapper">
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">
				{# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					Launch demo modal
				</button> #}
				{% include 'home/serviceModal.html.twig' %}
				{{data}}
				<div class="container-fluid">
					<div>
						<div class="row card-body">
							<div class="container">
								<div class="row justify-content-center">
									<a class="col-md-4 homeCard" href="{{ path('app_consommation_patient') }}">
										<div class="card"><img class="card-img-top" src="{{ asset('img/consomaPatient.png') }}" height="130px" alt="Image 1">
											<div class="card-body text-center">
												<h5 class="card-title">Consommation Patient</h5>
											</div>
											<div class="overlay"></div>
										</div>
									</a>
									<a class="col-md-4 homeCard" href="{{ path('app_suivi_commande') }}">
										<div class="card"><img class="card-img-top" src="{{ asset('img/suiviCommande.png') }}" height="130px" alt="Image 2">
											<div class="card-body text-center">
												<h5 class="card-title">Suivi Commande</h5>
											</div>
											<div class="overlay"></div>
										</div>
									</a>
								</div>
								<div class="row justify-content-center mt-4">
									<a class="col-md-4 homeCard" href="{{ path('app_stock') }}">
										<div class="card"><img class="card-img-top" src="{{ asset('img/suiviStock.png') }}" height="130px" alt="Image 3">
											<div class="card-body text-center">
												<h5 class="card-title">Suivi de Stock</h5>
											</div>
											<div class="overlay"></div>
										</div>
									</a>
									<a class="col-md-4 homeCard">
										<div class="card">
											<img class="card-img-top" src="{{ asset('img/gro.png') }}" height="130px" alt="Image 4">
											<div class="card-body text-center">
												<h5 class="card-title">     </h5>
											</div>
											<div class="overlay"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{encore_entry_script_tags('home')}}
{% endblock %}