{% extends 'base.html.twig' %}

{% block title %}suivi Commande
{% endblock %}
{% block stylesheets%}
	{{ parent()}}
	{{encore_entry_link_tags('suiviCommande')}}
{% endblock %}
{% block body %}
	<!-- produit avec le code barre -->
	<head>
		<meta charset="UTF-8">
	</head>

	<div class="container-fluid ">
		{# list Categorie #}
		<div class="listCategorie scroll">
			<h6 class='h6-categorie text-center'>
				<img src="{{ asset('img/logo.png') }}" width='80px'/>
			</h6>
			<hr class="hr"/>
			<ul class="ul-link">
				<div class="input-group search-bar2 text-center">
					<button class="btn btn-success search-img text-center" type="button" id="search-icon">
						<i class="fas fa-search"></i>
					</button>
					<input type="text" class="form-control search-input2" aria-label="Search" aria-describedby="search-icon">
				</div>
				<div class="card sideCat justify-content-center align-items-center">
					<img src="{{ asset('img/vacc.png') }}" class="card-img-cat" alt="...">

					<div class="card-body">
						<h5 class="card-title cat-title">medicaments</h5>
					</div>
				</div>
				{# {% for categorie in categories %}
					<li>cat</li>
					<li class='box-title' id='{{categorie.id}}' > {{categorie.designation}} </li>
				{% endfor %} #}
			</ul>
		</div>
		<div class='contenu_index'>
			<div class="row align-items-start ">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-2 border-bottom search-container">
					<div class="input-group search-bar">
						<button class="btn btn-success search-icone" type="button" id="search-icon">
							<i class="fas fa-search"></i>
						</button>
						<input type="text" class="form-control search-input" placeholder="Recherche..." aria-label="Search" aria-describedby="search-icon">
					</div>
					<div class="form-group">
						<div class="d-flex">
							<select class="form-select search-commande" aria-label="Default select example">
								<option selected>Service</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
                            &nbsp;&nbsp;
							<input type="date" class="form-control search-commande" >
						</div>
					</div>
				</div>
				<div class="row col-md-12 col-lg-12 col-sm-12 Poppins text-center">
					<div class="col-md-3 m-2 consomCard scrolling" data-bs-toggle="modal" data-bs-target="#dtCommande">
						<div class="card custom-card sideCat2">
							<img src="{{ asset('img/Checkmark.png') }}" alt="Checkmark" class="checkmark">
							<div class="card-header2">
								<span class="badge custom-badge">Validée</span>
								<p class="mb-0 text-center">202325</p>
								<p class="mb-0 text-center">C244378889</p>
								<p class="mb-0 text-center">Sami Yassir</p>
								<p class="mb-0 text-center">20/02/2024</p>
								<p class="mb-0 text-center">Service de Soins</p>
							</div>
							<div class="card-footer text-center">
								<span class="total-label order-number">Total:</span>
								<span class="total-amount order-number">3500</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ include('includes/detailCommande.html.twig') }}			
			{# <div class="col-md-7 col-lg-7 col-sm-12">
				<div class="card ">
					<div class="card-body text-center card-shadow  p-1">
					<div class="row align-items-center">
						<span class="col-auto">Articles</span>
						<input type="text" class="col-4 offset-5 form-control mb-1" id="codebar"  placeholder="Chercher"/>
					</div>
					
						<div class="listProduit scroll">
							<div class="row row-produit " >
								
							</div>
							
						</div>
					</div>
				</div>
			</div> #}
			<!--lise de liste des produits à vendre avec code barre-->
		</div>
	</div>
</div>
{# {{ include ('vente/client.html.twig') }} #}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('vente') }}
{% endblock %}