{% block stylesheets %}
  {{encore_entry_link_tags('detailCommandeStyle')}}
{% endblock %}

<div class="modal fade" id="dtCommande{{demande.demandCabID}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered row">
    <div class="modal-content col-md-7">
      <div class="modal-header position-relative text-center">
        <h5 class="modal-title mx-auto order-number2 Poppins text-center" id="exampleModalLabel">Commande de Mr Yassir-service soins</h5>
      </div>
    
      <div class="modal-body">
        <div class="client-data Inter">
          <p class="bold ">{{demande.di}}</p>
          <p class="bold">{{demande.ipp}}</p>
          <p class="bold">{{demande.patient}}</p>
          <p>date d’hospitalisation: {{demande.date | date('d/m/Y')}}</p>
        </div>
        <div class="product-list">
        {% for article in demande.articles %}
      
          <div class="product-item Pro">
            <img src="{{ asset('img/dolip.png') }}" class="product-img" alt="Doliprane">
            <div class="product-details">
              <p>{{article.article_name}}</p>
              <p class="Poppins">Prix : {{article.price}}</p>
            </div>
          </div>
          {% endfor %}
         
          <div class="total Inter">
          <span class="total-label order-number2">Total:</span> <span class="total-amount order-number2">{{demande.total_price}}</span>
        </div>
        </div>
      
      </div>
    
    
    </div>


  </div>
</div>