{% if products is not empty %}
	{% for product in products %}
	{% set prodPic = 'Image-Not-Available.png' %}
		{% if product.article_image is not same as('NULL') and article.article_image is not empty %}
			{% set prodPic = product.article_image %}
		{% endif %}
		<div class="product-item Pro">
			<img src="{{ asset('img/' ~ prodPic) }}" class="product-img" alt="{{ product.article_name }}">
			<div class="product-details">
				<p>{{ product.article_name }}</p>
				<p class="Poppins">Quantité :
					{{ product.quantity }}</p>
				<p class="Poppins">Prix :
					{{ product.price }}</p>
				<p class="Poppins">Total :
					{{ product.total_price_for_article }}</p>
			</div>
		</div>
	{% endfor %}
{% else %}
	<p>Aucun produit disponible pour cette demande.</p>
{% endif %}
{% block stylesheets %}
	{{encore_entry_link_tags('detailCommandeStyle')}}
{% endblock %}
