<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/logo.png') }}" type="image/png">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script>
			let idleTime = 0;

			// Increment the idle time counter every second
			const idleInterval = setInterval(timerIncrement, 1000); // 1 second

			// Reset the idle timer on mouse movement, key press, scroll, or touch
			document.addEventListener('mousemove', resetTimer, false);
			document.addEventListener('keypress', resetTimer, false);
			document.addEventListener('scroll', resetTimer, false);
			document.addEventListener('touchstart', resetTimer, false);

			function timerIncrement() {
				idleTime++;
				if (idleTime >= 60) { // 60 seconds (1 minute)
					window.location.href = "{{ path('app_logout') }}";
				}
			}

			function resetTimer() {
				idleTime = 0;
			}
		</script>

		{% endblock %}
	</head>
	<body>	
		{{include('./includes/navbar.html.twig') }}
		{% block body %}{% endblock %}
	</body>
</html>
