{% extends 'base.html.twig' %}

{% block title %}suivi stock
{% endblock %}
{% block stylesheets%}
    {{ parent() }}
{% endblock %}
{% block body %}

    <div class="alert alert-danger alert-dismissible fade show errorMessage" role="alert">
        <p class='alert-message'></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible fade show successMessage" role="alert">
        <p class='alert-message'></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- produit avec le code barre -->
    <head>
        <meta charset="UTF-8">
    </head>

    <div class="container-fluid ">
            {# list Categorie #}
            <div class="listCategorie scroll">
                <h6 class='h6-categorie text-center'>
				    <a href="{{ path('app_home') }}"><img src="{{ asset('img/logo.png') }}" width='80px'/></a>	
			    </h6>
                <hr class="hr" />
                <ul class="ul-link">
				<div class="input-group search-bar2 text-center">
					<button class="btn btn-success search-img" type="button" id="search-icon" style='padding:2px;'>
						<i class="fas fa-search"></i>
					</button>
					<input id="familleSearch" type="text" class="form-control search-input2" aria-label="Search" aria-describedby="search-icon">
				</div>
                <div id="famille-card">
				    {{ include('includes/familleCard.html.twig') }}
                </div>
			</ul>
            </div>
        <div class='contenu_index'>
            <div class="row align-items-start ">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="card ">
                        <div class="card-body text-center card-shadow p-1">
                        <div class="row align-items-center">
                            <span class="col-auto offset-1 fw-bold">Articles</span>
                            <input type="text" class="col-2 offset-6 form-control mb-1" id="articleSearch" style="width:30%" placeholder="Chercher"/>
                        </div>
                        
                            <div class="listProduit scroll">
                                <div class="row row-produit " >
                                  {{ include ('stock/produit.html.twig') }}  
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('suivi_stock') }}
    {{ encore_entry_script_tags('common') }}
{% endblock %}
