{% extends 'base.html.twig' %}

{% block title %}Consommation Patient
{% endblock %}

{% block stylesheets%}
	{{ parent() }}
{% endblock %}
{% block body %}

	{% if app.session.get('patient') is empty and app.session.get('patient').ipp is not defined %}
		{{ include('consommation_patient/infoPatient.html.twig') }}
	{% endif %}
	<div id="selectDossier">
		{% include 'includes/changeService.html.twig' %}
	</div>
	<div class="alert alert-success alert-dismissible fade show successMessage" role="alert">
		<p class='alert-message'></p>
	</div>
	<div class="alert alert-danger alert-dismissible fade show errorMessage" role="alert">
		<p class='alert-message'></p>
	</div>
	<div class="container-fluid ">
		{# list Categorie #}
		<div class="listCategorie scroll">
			<ul class="ul-link">
				<div class="input-group search-bar2 text-center">
					<button class="btn btn-success search-img" type="button" id="search-icon" style='padding:2px;'>
						<i class="fas fa-search"></i>
					</button>
					<input type="text" class="form-control search-input2" aria-label="Search" id='familleSearch' aria-describedby="search-icon">
				</div>
				<div id='famille-card'>
					{{ include('includes/familleCard.html.twig') }}
				</div>
			</ul>
		</div>
		<div class='contenu_index'>
			<div class="row align-items-start ">
				<div class="col-md-8 col-lg-8 col-sm-12">
					<div class="card ">
						<div class="card-body text-center card-shadow  p-1">
							<div class="row align-items-center">
								<span class="col-auto">Articles</span>
								<input type="text" class="col-4 offset-5 form-control mb-1" id="articleSearch" placeholder="Chercher"/>
							</div>
							<div class="listProduit scroll">
								<div class="row row-produit ">
									{{ include('consommation_patient/produit.html.twig') }}
									<div id="loader" style="display: none;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 ol-lg-4 col-sm-12 scrolling" id="cart">
					<div class="card">
						<div class="card-body text-center card-shadow">
							<div>
								<div class="col d-flex mb-2">
									<button data-bs-toggle="modal" id='demandes' data-bs-target="#commande-service" class="btn btn-fcz float-right ms-auto text-white" style="background-color:#265828;font-size:12px;">
										Commandes
									</button>
									{{ include('consommation_patient/commandes.html.twig') }}
								</div>
								<div class="row text-start">
									<fieldset class='border' id="userCom" style='font-size:12px;'>
										{% if app.session.get('patient') is not empty and app.session.get('patient').ipp is defined %}
											<span class="fw-bolder">{{app.session.get('patient').ipp}}</span>
											<button class='btn btn-outline-success btn-sm offset-md-9 offset-sm-9' data-bs-toggle="modal" data-bs-target="#changerPatient">
												<i class="far fa-edit"></i>
											</button>
											<br>
											<span class="fw-bolder">{{app.session.get('patient').di}}</span>
											<br>
											<span class="fw-bolder">{{app.session.get('patient').patient}}</span>
											<br>
											<span>Date d’hospitalisation:
											</span>
											<br>
											<span>Service d’hospitalisation</span>
											<div class="modal fade in" id="changerPatient" tabindex="-1" aria-labelledby="exampleModalLabel" style="border-radius: 30px;" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
														<div class="modal-header position-relative text-center">
															<img src="{{ asset('img/iconService.png') }}" class="modal-img" alt="Header Image">
															<h5 class="modal-title mx-auto" id="exampleModalLabel">Info Patient</h5>
															<button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															<div id="formErrors" class="error-message">
																<i class="fas fa-exclamation-circle error-icon"></i>
																<span id="errorText"></span>
															</div>
															<div class="input-group">
																<input type="text" id="ippSearch" class="form-control" placeholder="Rechercher"/>
																<button class="btn btn-success" type="button" id="searchPatient" style="background-color: #265828;">
																	<i class="fas fa-search"></i>
																</button>
															</div>
															<div class='text-start'>
																<span class='fw-bold'>IPP :
																	<span id='ipp'></span>
																</span>
																<br>
																<span class='fw-bold'>Nom du patient :
																	<span id='nomPatient'></span>
																</span><br>
																<span>Service d'hospitalisation*</span>
															</div>
															<input type="text" class="form-control" id='di' placeholder="DI" readonly/>
															<br>
															<button class="btn btn-success offset-9" style="background-color:#265828;" id="validatePatient">Rechercher</button>
															<div class="loader patientLoader offset-9"></div>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
									</fieldset>
								</div>
								<div class="row d-flex flex-row mb-1">
									<fieldset class='border-0 ml-auto'>
										<img src="{{ asset('img/cartimg.png') }}" height="80px" width="100px"/>
									</fieldset>
								</div>
								<div class="row d-flex flex-row scrollable-cart">
									{% for cartItem in cart %}
										{% include 'consommation_patient/cart_item.html.twig' with {'cartItem': cartItem} %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="card  card-shadow  mt-2 pt-1 pb-1">
						<div class="container-fluid">
							<div class="row" style="margin-left: -25px;">
								<div class="col">
									<h4 class="mt-0 totalDiv btn-total text-dark rounded" style="font-size: 12px!important;font-weight:bold;" id="totalDiv">
										Total:
										<span class='somme_prod' id='priceTotal' style="color:red;font-weight:bold;">{{ app.session.get('totalPrice')}}
											dhs</span>
									</h4>
								</div>
								<div class="col">
									<button type="submit" class=" btn btn-success offset-5 vendre_vente" id='validateCommande'>
										Valider
									</button>
									<div class="loader offset-9"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{encore_entry_script_tags('home')}}
	{{ encore_entry_script_tags('consommation_patient') }}
	{{ encore_entry_script_tags('common') }}
{% endblock %}