{% set cart = app.session.get('cart', {}) %}

{% if articles|length > 0 %}
	{% for article in articles %}
		{% set prodPic = 'Image-Not-Available.png' %}
		{% if article.image is not same as('NULL') and article.image is not empty %}
			{% set prodPic = article.image %}
		{% endif %}
		{% if article.quantite == 0 %}
			<div class="col-lg-3 col-md-4 p-1 col-sm-5 produit product-sold position-relative" title="{{article.titre}}" data-toggle="tooltip" data-placement="top" data-id="{{article.id}}">
				<div class="sold-out-overlay">
					<img src="{{ asset('img/sold_out.png') }}" alt="Sold Out" class="sold-out-image">
				</div>
				{% set cartItem = cart[article.id] ?? null %}
				{% set quantity = cartItem ? cartItem.quantity : 0 %}
				<span class="qte-produit quantity-badge{% if quantity == 0 %} d-none{% endif %}">{{ quantity }}</span>
				<div class="div-img" style='background: rgba(0, 0, 0, 0.2);'>
					<img class="img-produit rounded" src="{{ asset('img/' ~ prodPic) }}" alt="Image de " style='filter:blur(1px)'>
					<div class="col-sm-12 name-produit Limit_text">{{article.titre}}</div>
					<div class="col-sm-12 col-md-12 price-produit card-body text-start" style='background: rgba(0, 0, 0, 0.02);'>
						Disponible :
						<span>{{article.quantite}}</span>
						<i class="fas fa-plus-circle" style="color:#265828"></i>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col-lg-3 col-md-4 p-1 col-sm-5 produit position-relative" data-bs-toggle="modal" data-bs-target="#qteModal" data-id="{{article.id}}" data-toggle="tooltip" data-placement="top" title="{{article.titre}}">
				{% set cartItem = cart[article.id] ?? null %}
				{% set quantity = cartItem ? cartItem.quantity : 0 %}
				<span class="qte-produit quantity-badge{% if quantity == 0 %} d-none{% endif %}">{{ quantity }}</span>
				<div class="div-img">
					<img class="img-produit rounded" src="{{ asset('img/' ~ prodPic) }}" alt="Image de ">
					<div class="col-sm-12 name-produit Limit_text">{{article.titre}}</div>
					<div class="col-sm-12 col-md-12 price-produit card-body text-start">
						Disponible :
						<span>{{article.quantite}}</span>
						<i class="fas fa-plus-circle" style="color:#265828"></i>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<div class="modal fade" id="qteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header position-relative text-center">
					<img src="{{ asset('img/selectQte.png') }}" class="modal-img" alt="Header Image">
					<h5 class="modal-title mx-auto" id="exampleModalLabel">Insérer la Quantité</h5>
					<button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>

					<br>
				</div>
				<div class="modal-body">
					<div id="formErrors" class="error-message">
						<i class="fas fa-exclamation-circle error-icon"></i>
						<span id="errorText"></span>
					</div>
					<input class="form-control" type="number" id="article_id" readonly hidden/>
					<input class="form-control" type="number" placeholder="Quantité" id="quantityInput"/>
					<br>
					<button class="btn btn-success offset-9" style="background-color:#265828;" id="confirmQuantity">Valider</button>
					<div class="loader offset-9"></div>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="nonTrouve">
		Aucune correspondance exacte trouvée !
	</div>
{% endif %}
